<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <h2 class="logo">PostsApp</h2>
  </ng-template>
  <ng-template pTemplate="end">
    <h2 class="userName">{{ userLogued.name }}</h2>
  </ng-template>
</p-menubar>

<p-dialog
  header="Edit user information"
  [(visible)]="displayBasic"
  [style]="{ width: 'auto' }"
  [closable]="false"
>
  <div class="">
    <form class="edit-form" [formGroup]="editUserForm">
      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            type="text"
            pInputText
            placeholder="Name"
            formControlName="name"
          />
        </span>
        <small *ngIf="isValidField('name')" class="p-error block"
          >Name is required</small
        >
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            type="text"
            pInputText
            placeholder="Username"
            formControlName="username"
          />
        </span>
        <small *ngIf="isValidField('username')" class="p-error block"
          >Username is required</small
        >
      </div>

      <h5>Change password</h5>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="Actual password"
            formControlName="password"
          />
        </span>
        <small *ngIf="isValidField('password')" class="p-error block">
          Wrong passwords</small
        >
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="New password"
            formControlName="newPasswords"
          />
        </span>
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="Repeat new password"
            formControlName="repeatNewPassword"
          />
        </span>
        <small *ngIf="isValidField('repeatNewPassword')" class="p-error block">
          Passwords dont match</small
        >
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="closeModal()"
      label="Cancel"
      styleClass="p-button-text p-button-danger"
    >
    </p-button>
    <p-button
      icon="pi pi-check"
      (click)="editData()"
      label="Edit"
      [disabled]="editUserForm.invalid"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

