.main-header{
  position: fixed;
  z-index: 1000;
}
.userName {
  font-size: 16px;
  margin: 0px 20px 0px 10px;
  min-width: 60px;
}

.left {
  display: flex;
  gap: 25px;
  align-items: center;
  width: 300px;

  .logo {
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    cursor: pointer;
  }

  .position {
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
}

.layout-wrapper .layout-menu li a > .myclass {
  margin-left: auto;
}

:host ::ng-deep p-menubarsub {
  width: 100%;
}

p-menubar {
  position: fixed;
  width: 100%;
}
