    <div class="image">
      <img [src]="image" alt="avatar" />
    </div>

    <h3>Profile <i class="pi pi-pencil edit-icon" (click)="emmitEdit()"></i></h3>

    <div class="dataContainer">
      <p><span>Name: </span>{{ userData && userData.fullName }}</p>
      <p><span>User name:</span> {{ userData && userData.userName }}</p>
      <p><span>Birth day:</span> {{ userData && userData.birthDate | date }}</p>
      <p><span>Email:</span> {{ userData && userData.email }}</p>
      <p><span>Role:</span> {{ userData && userData.role }}</p>
      <p>
        <span>Location:</span> latitude
        {{ userData && userData.ubication.lat }} / longitude
        {{ userData && userData.ubication.lng }}
      </p>
    </div>

    <p-button
      icon="pi pi-map"
      (click)="showMapModal()"
      label="Show map"
      styleClass="p-button-text p-button-primary"
    ></p-button>

    <div *ngIf="isMapModalOpen">
      <app-map
        [showMap]="isMapModalOpen"
        (oncloseModal)="closeMapModal()"
        [coords]="userData.ubication"
      ></app-map>
    </div>

    <div *ngIf="!arePostReady">
      <app-spiner></app-spiner>
    </div>

    <div *ngIf="arePostReady">
      <app-post-list [data]="userPosts" title="My posts"></app-post-list>
    </div>
