<p-dialog
  header="Edit user information"
  [visible]="true"
  [style]="{ width: 'auto' }"
  [closable]="false"
>
  <form class="edit-form" [formGroup]="editUserForm">
    <div class="edit-form__simples-fields">
      <h5>Change name and username</h5>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            type="text"
            pInputText
            placeholder="Name"
            formControlName="name"
          />
        </span>
        <small *ngIf="isValidField('name')" class="p-error block"
          >Name is required</small
        >
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            type="text"
            pInputText
            placeholder="Username"
            formControlName="username"
          />
        </span>
        <small *ngIf="isValidField('username')" class="p-error block"
          >Username is required</small
        >
      </div>

      <h5>Change password</h5>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="Actual password"
            formControlName="password"
          />
        </span>
        <small *ngIf="isValidField('password')" class="p-error block">
          Wrong passwords</small
        >
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="New password"
            formControlName="newPasswords"
          />
        </span>
      </div>

      <div class="edit-form__input">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pInputText
            placeholder="Repeat new password"
            formControlName="repeatNewPassword"
          />
        </span>
        <small *ngIf="isValidField('repeatNewPassword')" class="p-error block">
          Passwords dont match</small
        >
      </div>

      <div *ngIf="showExtraField">
        <h5>Change contact</h5>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-phone"></i>
            <input
              type="text"
              pInputText
              placeholder="Phone"
              formControlName="phone"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-desktop"></i>
            <input
              type="text"
              pInputText
              placeholder="Web site"
              formControlName="webSite"
            />
          </span>
        </div>
      </div>
    </div>

    <div class="edit-form__extra-fields" *ngIf="showExtraField">
      <h5>Change adress</h5>

      <div formGroupName="address">
        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-map-marker"></i>
            <input
              type="text"
              pInputText
              placeholder="Street"
              formControlName="street"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-map-marker"></i>
            <input
              type="text"
              pInputText
              placeholder="Suite"
              formControlName="suite"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-map-marker"></i>
            <input
              type="text"
              pInputText
              placeholder="City"
              formControlName="city"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-map-marker"></i>
            <input
              type="text"
              pInputText
              placeholder="Zipcode"
              formControlName="zipcode"
            />
          </span>
        </div>

        <h5>Change geolocation</h5>
        <div formGroupName="geo">
          <div class="edit-form__input">
            <span class="p-input-icon-left">
              <i class="pi pi-map-marker"></i>
              <input
                type="text"
                pInputText
                placeholder="Latitude"
                formControlName="lat"
              />
            </span>
            <small *ngIf="!areGeoEquals" class="p-error block">
              Both are required</small
            >
          </div>

          <div class="edit-form__input">
            <span class="p-input-icon-left">
              <i class="pi pi-map-marker"></i>
              <input
                type="text"
                pInputText
                placeholder="Longitude"
                formControlName="lng"
              />
            </span>
            <small *ngIf="!areGeoEquals" class="p-error block">
              Both are required</small
            >
          </div>
        </div>
      </div>

      <h5>Change company</h5>
      <div formGroupName="company">
        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-building"></i>
            <input
              type="text"
              pInputText
              placeholder="Company name"
              formControlName="name"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-building"></i>
            <input
              type="text"
              pInputText
              placeholder="Catch phrase"
              formControlName="catchPhrase"
            />
          </span>
        </div>

        <div class="edit-form__input">
          <span class="p-input-icon-left">
            <i class="pi pi-building"></i>
            <input
              type="text"
              pInputText
              placeholder="Bs"
              formControlName="bs"
            />
          </span>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      icon="pi {{ !showExtraField ? 'pi-plus' : 'pi-minus' }}"
      type="button"
      label="{{ !showExtraField ? 'More fields' : 'Simple fields' }}"
      class="p-button-success p-button-text"
      (click)="displayMoreFields()"
    ></button>
    <p-button
      icon="pi pi-times"
      (click)="closeModal()"
      label="Cancel"
      styleClass="p-button-text p-button-danger"
    >
    </p-button>
    <p-button
      icon="pi pi-check"
      (click)="editData()"
      label="Edit"
      [disabled]="editUserForm.invalid"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
