<div *ngIf="post">
  <div class="conteiner">
    <div class="card">
      <div class="info-section">
        <small>Post ID: {{ post.id }}</small>
        <small *ngIf="emmitedValue"
          >Last comment: {{ emmitedValue | date: "dd MMM, YYYY" }}</small
        >
      </div>
      <h2>{{ post.title | titlecase }}</h2>

      <h3>Content</h3>
      <p class="content">{{ post.body }}</p>

      <a routerLink="/posts">Back</a>

      <app-comments
        [postID]="post.id"
        (onEmit)="printEmmited($event)"
      ></app-comments>
    </div>
  </div>
</div>
