@use "/src/variables" as v;

.card {
  background-color: rgba($color: green, $alpha: 0.2);
  width: 600px;
  margin: auto;
  padding: 30px;
}

.content {
  margin-bottom: 30px;
}

.back-btn {
  position: fixed;
  top: 25px;
  left: 25px;
  height: 40px;
  width: 40px;
  background-color: v.$main-color;
  color: v.$main-bg;
  border-radius: 100%;

  a {
    font-family: "Times New Roman", "Times", "serif";
    margin-left: 6px;
    font-size: 40px;
    line-height: 41px;
    text-decoration: none;

    &:hover {
      color: rgba($color: green, $alpha: 1);
    }
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
}
