<div class="conteiner">
  <div *ngIf="post; else spiner">
    <div class="card">
      <div class="info-section">
        <small>Post ID: {{ post.id }}</small>
        <small *ngIf="emmitedValue">
          Last comment: {{ emmitedValue | date: "dd MMM, YYYY" }}
        </small>
      </div>
      <h2>{{ post.title | titlecase }}</h2>

      <div class="back-btn">
        <a routerLink="/posts"> < </a>
      </div>

      <p class="content">{{ post.body }}</p>

      <app-comments
        [postID]="post.id"
        (onEmit)="printEmmited($event)"
      ></app-comments>
    </div>
  </div>

  <ng-template #spiner>
    <app-spiner></app-spiner>
  </ng-template>
</div>
