@use "/src/variables" as v;

.card {
  background-color: rgba($color: green, $alpha: 0.2);
  width: 600px;
  margin: auto;
  margin-top: 80px;
  padding: 30px;
}

.content {
  margin-bottom: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .card-actions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    button {
      width: 30px;
      height: 30px;
    }
  }
}

.back-btn {
  position: fixed;
  top: 65px;
  left: 25px;
  height: 40px;
  width: 40px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.comments {
  .comment-title {
    display: flex;
    gap: 15px;
    align-items: center;

    button {
      width: 25px;
      height: 25px;
    }
  }

  .no-comments-msg {
    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
