.btn_Uppercase {
  background-color: rgba(red, 0.2);
}

.btn_Lowercase {
  background-color: rgba(purple, 0.2);
}

.edit-btn {
  background-color: rgba(darkblue, 0.2);
}

.delete-btn {
  background-color: rgba(tomato, 0.5);
}

.singleComment {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  &__body {
    word-wrap: break-word;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: lightgrey;
  height: 30px;
  font-size: 14px;

  &:hover {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}
