<div class="singleComment">
  <!--<p>{{ comment | userName: isUpper }}</p>-->
  <p class="singleComment__body">{{ comment.body }}</p>
  <div class="singleComment__actions">
    <button
      (click)="changeCase()"
      [ngClass]="{ btn_Uppercase: isUpper, btn_Lowercase: !isUpper }"
    >
      {{ !isUpper ? "To UpperCase" : "To LowerCase" }}
    </button>

    <button *ngIf="canDo()" class="edit-btn" (click)="showDialog()">
      Edit
    </button>

    <button *ngIf="canDo()" class="delete-btn" (click)="deleteComment()">
      Delete
    </button>
  </div>
</div>

<app-comment-form
  [showForm]="displayBasic"
  (oncloseModal)="closeModal($event)"
  (onEmit)="sendEmmitd()"
  [comment]="comment"
></app-comment-form>
