<div class="conteiner">
  <form class="auth-form" [formGroup]="registerForm" (submit)="register()">
    <div class="image">
      <img [src]="image" alt="avatar" />
    </div>
    <h2>Register</h2>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          placeholder="Name"
          formControlName="name"
        />
      </span>
      <p *ngIf="isValidField('name')" class="error-msg">Name is required</p>
    </div>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          placeholder="Username"
          formControlName="username"
        />
      </span>
      <p *ngIf="isValidField('username')" class="error-msg">
        Username is required
      </p>
    </div>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          placeholder="Email"
          formControlName="email"
        />
      </span>
      <p *ngIf="isValidField('email')" class="error-msg">Text a valid email</p>
    </div>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          placeholder="Password"
          formControlName="password"
        />
      </span>
      <p *ngIf="isValidField('password')" class="error-msg">
        Password is required
      </p>
    </div>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          placeholder="Repeat password"
          formControlName="repeatPassword"
        />
      </span>
      <p *ngIf="isValidField('password')" class="error-msg">
        Repeated password is required
      </p>
    </div>

    <div class="auth-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-image"></i>
        <input
          type="text"
          pInputText
          placeholder="profile URL image (optional)"
          formControlName="photo"
        />
      </span>
      <p *ngIf="isValidField('photo')" class="error-msg">
        Copy a valid image URL
      </p>
    </div>

    <div>
      <p-calendar
        placeholder="Birth date"
        formControlName="birthDate"
      ></p-calendar>
    </div>

    <div class="auth-form__actions">
      <a routerLink="/auth/login">Already have an acount?</a>
      <p-button type="submit" label="Register"></p-button>
    </div>

    <p *ngIf="registerError.showMsg" class="error-msg-box">
      {{ registerError.message }}
    </p>
  </form>
</div>
