<form class="edit-form" [formGroup]="editUserForm">
  <div class="image">
    <img [src]="image" alt="avatar" />
  </div>

  <h3>Edit profile</h3>

  <div class="forms">
    <div class="edit-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          placeholder="Username"
          formControlName="username"
        />
      </span>
      <small *ngIf="isValidField('username')" class="p-error block"
        >Username is required</small
      >
    </div>

    <div class="edit-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-image"></i>
        <input
          type="text"
          pInputText
          placeholder="Image URL "
          formControlName="photo"
        />
      </span>
    </div>

    <div class="geoTitle">
      <h5>
        Change geolocation:
        <span (click)="setGeo()" class="geoFindMe">Find me</span>
      </h5>
      <span *ngIf="!geoEnable" class="errorGeo"
        >You must enable geolocation in your browser to use this feature</span
      >
    </div>
    <div class="edit-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          pInputText
          placeholder="Latitude"
          formControlName="lat"
        />
      </span>
      <small *ngIf="!areGeoEquals" class="p-error block">
        Both are required</small
      >
      <small *ngIf="!geoAreNotNumber" class="p-error block">
        Geolocation must be a number</small
      >
    </div>

    <div class="edit-form__input">
      <span class="p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          pInputText
          placeholder="Longitude"
          formControlName="lng"
        />
      </span>
      <small *ngIf="!areGeoEquals" class="p-error block">
        Both are required</small
      >
      <small *ngIf="!geoAreNotNumber" class="p-error block">
        Geolocation must be a number</small
      >
    </div>
  </div>

  <div class="buttons">
    <button class="cancelBTN" (click)="cancelEdit()">Cancel</button>
    <button class="editBTN" (click)="editData()">Edit</button>
  </div>
</form>
