@use "./variables" as v;
@use "/src/mixis" as m;

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: v.$main-bg;
  color: v.$main-color;
  font-family: v.$main-family;
}

.conteiner{
  @include m.centerContent();
}
